/* Css for Widget */

p {
  margin: 0px;
}

/* make widget have space */
.widget {
  width: 85%;
}

/* css for all title */
.widget__title {
  font-size: 1.0625rem;
  font-weight: 500;
  padding: 0 8px 8px;
}

.widget > * {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

/* make all item have soft edge:  */
.widget__item--sponsored,
.widget__item {
  border-radius: 5px;
}

/* all item: hover animation */
.widget__item--sponsored:hover,
.widget__item:hover {
  cursor: pointer;
  background-color: #ced0d4;
}

/* css for image of Sponsored area */
.widget__sponsored,
.widget__contact,
.widget__groupConservations {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: solid 1px #ced0d4;
}
.widget__item--sponsored {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.widget__item--sponsored img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.widget__item--sponsored .widget__image {
  align-self: center;
  width: 40%;
}

/* css for content of Sponsored area */
.widget__item--sponsored .widget__content {
  width: 55%;
}

.widget__item--sponsored p:first-child {
  font-weight: 500;
  margin-bottom: 5px;
}

.widget__item--sponsored p:last-child {
  font-weight: 400;
  font-size: 13px;
}

.widget__item--sponsored:hover {
  background-color: #ced0d4;
}

/* css for Contact area */
.widget__contact {
  padding-bottom: 8px;
  border-bottom: solid 1px #ced0d4;
}
.widget__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.widget__item p {
  opacity: 0.8;
  font-weight: 500;
}

.widget__item img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.widget__contact .widget__title,
.widget__groupConservations .widget__title {
  padding-top: 20px;
}
