.feeds__createPost--wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}

.feeds__createPost--outer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.feeds__createPost {
  padding: 1px 16px;
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feeds__createPost h3:last-child {
  margin: 0px auto;
  width: fit-content;
}

.feeds__createPost h3:not(:last-child) {
  width: fit-content;
  margin: 1em auto;
}

.createPost__closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
}

.createPost__closeBtn:hover {
  cursor: pointer;
  background-color: #f3f2f3;
}

.createPost__submit:hover {
  cursor: pointer;
}

.createPost__submit {
  background-color: #1a6ed8;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5em 0px;
}

.opacity{
  opacity: 0.7 !important;
  background-color: #f6f6f6;

}
.createPost__loading {
  position: absolute;
  top: inherit;
  left: inherit;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;

}

.createPost__loading p{
  font-size: 20px;
  opacity: 1;
}
.createPost__image {
  overflow: auto;
  height: 200px;
}

#image {
  width: 100%;
  height: auto;
}
