.app__widget {
  height: 88vh;
  overflow: auto;
  position: sticky;
  top: 79px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
}

.widget > * {
  width: 80%;

  display: flex;
  flex-direction: column;
}

.widget__item--sponsored {
  display: flex;
  justify-content: space-around;
}
.widget__item--sponsored img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

.widget__item--sponsored .widget__image {
  align-self: center;
  width: 40%;
}

.widget__item--sponsored .widget__content {
  width: 55%;
}

.widget__item--sponsored p:first-child {
  font-weight: 500;
}

.widget__item {
  display: flex;
  justify-content: space-evenly;
}

.widget__item img{
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
